.btn-dot{
    background: #BFC0C0;
}

.dot{
    display: inline-block;
    margin-top: -20px;
    font-size: 30px;
}

.btn-regular{
    background-color: transparent;
    width: 100%;
    border: 1px solid #A9AEB8;
    border-radius: 8px;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
}
.visit-site1{
    color: #E56135;
}
.visit-site2{
    color: #02B875;
}
