.details-banner{
    background-image: url("../../../images/herimg.png"),
    linear-gradient(rgba(37, 37, 37, 0.651), rgba(20, 20, 20, 0.719));

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 440px;
    width: 100%;
    background-blend-mode: overlay;
}

.banner-text{
    margin-top: 300px;
    margin-left: 100px;
}

.phone-banner{
    margin: 15px 0;
}

.btn-join{
    background-color: transparent;
    color: #fff;
    border: 0.8px solid #FFFFFF;
    border-radius: 4px;
    padding: 6px 8px;
}

@media only screen and (max-width: 768px) {
    .details-banner{
        min-height: 236px;
        background-image: url("../../../images/hero-phone.png"),
    linear-gradient(rgba(37, 37, 37, 0.651), rgba(20, 20, 20, 0.719));
    }
    .banner-text{
        margin-left: 10px;
        /* padding-top: ; */
        /* padding: 150px 0; */
    }
    
}